<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/common :: head_common(~{this :: script})">
    <meta charset="UTF-8">
    <title>Create new accident</title>
</head>
<body>

<div th:replace="layout/header/header :: header"/>

<br>

<form id="create-order-form" class="form mb-5 w-50" style="margin: auto;width: 220px;" method="post"
      th:object="${accident}"
      th:action="@{/accidents}">
    <div class="card text-white bg-primary mb-5">
        <div class="card-header">
            <h2 class="m-0">Create accident</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label th:for="accident-order" class="col-2 col-form-label">
                    Order description:
                </label>
                <div class="col-10">
                    <select class="form-control" th:id="accident-order" th:name="orderId" readonly>
                        <option th:id="accident-order" th:each="order : ${orders}" th:value="${order.id}"
                                th:text="|id ${order.id} order date ${order.date} start ${order.startRentalDate} end ${order.endRentalDate} |"
                                th:selected="${accident.orderId == order.id}">
                        </option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-form-label" th:for="accidentDate">
                    Accident date: </label>
                <input type="datetime-local" th:field="*{accidentDate}" class="form-control"
                       th:id="accidentDate" required>
            </div>

            <div class="form-group">
                <label class="col-form-label" th:for="description">Description: </label>
                <input type="text" th:field="*{description}" class="form-control" th:id="description"
                       required>
            </div>

            <div class="form-group">
                <label class="col-form-label" th:for="damage">Amount of damage: </label>
                <input type="text" th:field="*{damage}" class="form-control" th:id="damage"
                       required>
            </div>


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </div>
</form>


</body>
</html>