<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/common :: head_common(~{this :: script})">
    <meta charset="UTF-8">
    <title>Login</title>
</head>


<body>
<div class="form mb-5 w-50 my-3" style="margin: auto;width: 220px;">
    <form action="/login" method="post">
        <div class="form-group" style="color: red" th:if="${param.error}">
            Bad credentials
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address:</label>
            <input type="email" class="form-control" id="email" name="email">

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<div class="form mb-5 w-50 my-3" style="margin: auto;width: 220px;">
    <div>Login with:</div>
    <a href="/oauth2/authorization/google">Google</a>
</div>

<div class="form mb-5 w-50 my-3" style="margin: auto;width: 220px;">
    <form action="/users/sign-up">
        <button type="submit" class="btn btn-secondary">Registration</button>
    </form>
</div>

</body>
</html>

