<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/common :: head_common(~{this :: script})">
    <meta charset="UTF-8">
    <title>Models</title>
</head>
<body>
<div th:replace="layout/header/header :: header"/>


<div class="container-fluid my-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-2">
        <div class="col" sec:authorize="hasAnyAuthority('ADMIN')">
            <form th:action="@{/cars/by-number}" method="get" th:object="${number}">
                <label for="number"><span th:text="#{find.car.by.number}">Find car by number:</span>
                    <input id="number" type="text" name="number" th:value="${number}">
                </label><br>
                <button class="btn btn-primary" type="submit" th:text="#{button.find}">Find</button>
            </form>

            <form action="/cars/with-accidents" method="get">
                <div th:text="#{get.all.with.accidents}">Get all with accidents</div>
                <label for="page2"> <span th:text="#{pagination.page}">Page:</span>
                    <input id="page2" type="number" name="page" th:value="${page}">
                </label>
                <label for="size2"><span th:text="#{pagination.size}">Size:</span>
                    <input id="size2" type="number" name="size" th:value="${size}">
                </label>
                <button class="btn btn-primary" type="submit" th:text="#{button.find}">Find</button>

            </form>
            <form action="/cars/without-accidents" method="get" th:object="${carFilter}">
                <div th:text="#{get.all.without.accidents}">Get all without accidents</div>
                <label for="page1"><span th:text="#{pagination.page}">Page:</span>
                    <input id="page1" type="number" name="page" th:value="${page}">
                </label>
                <label for="size1"><span th:text="#{pagination.size}">Size:</span>
                    <input id="size1" type="number" name="size" th:value="${size}">
                </label>
                <button class="btn btn-primary" type="submit" th:text="#{button.find}">Find</button>
            </form>
        </div>
    </div>
</div>
<hr/>
<hr/>


<div class="container-fluid my-3">
    <form action="/cars" method="get" th:object="${carFilter}">
        <div><span th:text="#{car.color}">Color:</span>
            <div th:each="color : ${colors}">
                <input th:id="${color}" type="radio" name="color" th:value="${color}"
                       th:checked="${color == carFilter.color}">
                <label th:for="${color}" th:text="${color}">Color</label>
            </div>
        </div>

        <label for="year"><span th:text="#{car.year}">Year:</span>
            <input id="year" type="number" name="year" th:value="*{year}">
        </label>

        <label for="brand"><span th:text="#{car.brand}">Brand:</span>
            <input id="brand" type="text" name="brandName" th:value="*{brandName}">
        </label>

        <div><span th:text="#{car.category}">Category:</span>
            <div th:each="categoryName : ${categories}">
                <input th:id="${categoryName}" type="radio" name="categoryName" th:value="${categoryName.name}"
                       th:checked="${categoryName.name == carFilter.categoryName}">
                <label th:for="${categoryName}" th:text="${categoryName.name}">Color</label>
            </div>
        </div>

        <div><span th:text="#{car.transmission}">Type of transmission:</span>
            <div th:each="transmission : ${transmissions}">
                <input th:id="${transmission}" type="radio" name="transmission" th:value="${transmission}"
                       th:checked="${transmission == carFilter.transmission}">
                <label th:for="${transmission}" th:text="${transmission}">Type of transmission</label>
            </div>
        </div>

        <div><span th:text="#{car.engine}">Type of engine:</span>
            <div th:each="engine : ${engines}">
                <input th:id="${engine}" type="radio" name="engineType" th:value="${engine}"
                       th:checked="${engine == carFilter.engineType}">
                <label th:for="${engine}" th:text="${engine}">Type of engine</label>
            </div>
        </div>


        <label for="page"><span th:text="#{pagination.page}">Page:</span>
            <input id="page" type="number" name="page" th:value="${page}">
        </label>
        <label for="size"><span th:text="#{pagination.size}">Size:</span>
            <input id="size" type="number" name="size" th:value="${size}">
        </label>

        <button class="btn btn-primary" type="submit" th:text="#{button.filter}">Filter</button>
    </form>
    <div class="container-fluid my-2">
        <form th:action="@{/cars/}" method="get">
            <button class="btn btn-secondary my-1" th:text="#{button.clear.filter}">Clear filter</button>
        </form>
    </div>
</div>


<div th:if="${not #lists.isEmpty(carPage.content)}">
    <div th:if="${totalPages != null}">
        <div>List of result has <span th:text="${totalPages}">#</span> pages.</div>
    </div>
    <div th:if="${totalPagesWith != null}">
        <div>List of result has <span th:text="${totalPagesWith}">#</span> pages.</div>
    </div>
    <div th:if="${totalPagesWithout != null}">
        <div>List of result has <span th:text="${totalPagesWithout}">#</span> pages.</div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-2">

        <div th:each="car : ${carPage.getContent()}">
            <div class="col">
                <div class="card my-2">
                    <img th:src="@{/api/v1/cars/{carId}/car_image(carId=${car.id})}" class="card-img" width="50"
                         alt="Car image">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <span th:text="${car.brand}">Brand default name</span>
                            <span th:text="${car.model}">Model default name</span>
                        </h5>
                        <p class="card-text">
                        <div sec:authorize="hasAnyAuthority('ADMIN')">Car Id= <span th:text="${car.id}">#</span>.<br/>
                        </div>
                        Transmission is <span th:text="${car.transmission.name()}">manual</span>.<br/>
                        Engine type is <span th:text="${car.engineType.name()}">diesel</span>.<br/>
                        Color is <span th:text="${car.color.name()}">color</span>.<br/>
                        Year issue: <span th:text="${car.year}">year</span>.<br/>
                        <div sec:authorize="hasAnyAuthority('ADMIN')">
                            Car number: <span th:text="${car.carNumber}">number</span>.<br/>
                            VIN: <span th:text="${car.vin}">vin****vin</span>.<br/>
                            Repaired: <span th:text="${car.isRepaired}">true</span>.<br/>
                        </div>
                        Category: <span th:text="${car.category}">standart</span>.<br/>
                        Price: <span th:text="${car.price}">120.00</span>.<br/>

                        </p>
                        <a th:href="@{/cars/{id}(id=${car.id})}" class="btn btn-primary" th:text="#{button.car}">Go to
                            this car!</a>

                        <form th:action="@{/orders/order-create}" method="get" th:object="${car}">
                            <input id="carId" type="text" name="carId" th:value="${car.id}" hidden="hidden">
                            <br>
                            <button class="btn btn-primary" type="submit" th:text="#{button.new.order}">Create new
                                order
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<hr/>
<p>

<div class="container-fluid my-3" sec:authorize="hasAnyAuthority('ADMIN')">
    <form th:action="@{/cars/car-create}" method="get">
        <button class="btn btn-primary">Create new car</button>
    </form>
</div>
</p>


</body>
</html>